@inherits LayoutComponentBase

<ErrorBoundary @ref="_errorBoundry" Context="ex">
	<ChildContent>
	<div class="page">
		<div class="sidebar">
			<NavMenu />
		</div>

		<main>
			<div class="top-row px-4">
				<a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
			</div>

			<article class="content px-4">
				@Body
			</article>
		</main>
	</div>
	</ChildContent>
	<ErrorContent>
		<Error OnHandle="RefreshErrorBoundry" ErrorMessage="ex" />
	</ErrorContent>
</ErrorBoundary>

@code{
	private ErrorBoundary _errorBoundry;

	public void RefreshErrorBoundry()
	{	
		_errorBoundry?.Recover();
	}

}
