@inherits LayoutComponentBase
@using Shopping_App.Services
@inject AuthService AuthService

@if (AuthService.token != null)
{
	<ErrorBoundary @ref="_errorBoundry" Context="ex">
		<ChildContent>
			<div class="page">
				<div class="sidebar">
					<NavMenu />
				</div>
				<main>
					<article class="content px-4">
						@Body
					</article>
				</main>

			</div>
		</ChildContent>
		<ErrorContent>
			<Error OnHandle="RefreshErrorBoundry" ErrorMessage="ex" />
		</ErrorContent>
	</ErrorBoundary>
}
else
{
	<main>
		<article class="content px-4">
			@Body
		</article>
	</main>
}

@code {
	private ErrorBoundary _errorBoundry;

	public void RefreshErrorBoundry()
	{
		_errorBoundry?.Recover();
	}

}
